html{
  text-align: center;
  font-family: Helvetica; 
}



footer{
  background-color: dimgray;	
}
.white{
  color:white;	
}



#newyorkbackground{
  background-image: url("../images/building_background.png");
}


#about{
  background-image: url("../images/building_background.png");  
}