html{
  text-align: center;
  font-family: Helvetica; 
}



footer{
  background-color: dimgray;	
}
.white{
  color:white;
}

#h1{
  font-size:70px;	
}

#newyorkbackground{
  background-image: url("../images/building_background.png");
}


#about{
  background-image: url("../images/building_background.png");  
}